@import "colors";
@import "mixins";
@import "variables";

.subscription-flow {
  background-color: $light-gray5;
  width: 100%;
  height: 100%;

  & .main-title {
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px;
    text-shadow: 1px 1px 1px 1px #203a43;
  }

  & .subscription-tabs {
    & .bp3-tabs {
      background-color: $mid-gray5;

      & .bp3-tab-list {
        padding: 10px;
        @include ly-flex-sole(row, space-around, center);
        margin: 0px 5%;

        & .bp3-tab {
          box-shadow: none;

          & .tabs-title {
            padding: 5px 20px;
            font-weight: bold;
            color: $mid-gray4;
            border-radius: 20px;
            background-color: $mid-gray8;
            @include ly-flex-sole(row, center, center);
          }

          & .tab-icon {
            margin-top: 10px;
          }
        }

        & .bp3-tab[aria-selected="true"] {
          & .tabs-title {
            color: $white;
            background-color: $blue1;
          }
        }
      }

      & .bp3-tab-panel {
        margin: 0px;
      }
    }
  }
}

.subscribe-data-confirm,
.subscribe-completed-result {
  border: 1px solid $mid-gray2;
  background-color: $mid-gray1;
  padding: 10px;

  & .confirm-data-block,
  .completed-data-block {
    & .data-block-header {
      padding: 5px;
      font-size: 1em;
      font-weight: bold;
      border-bottom: 2px solid $mid-gray6;
      margin-top: 10px;
    }

    & .field-row,
    .span-row {
      @include ly-flex-sole(row, flex-start, stretch);
      border-bottom: 1px solid $mid-gray5;
      background-color: $mid-gray2;
      min-height: 20px;

      & .field-label,
      .span-label {
        font-size: 1em;
        width: 25%;
        padding: 10px;
        color: #0f2027;
        background-color: rgba($mid-gray3, 0.75);
      }

      & .field-label::after {
        content: " : ";
      }

      & .field-value {
        // @include ly-flex-sole(row, flex-start, center);
        width: 75%;
        padding: 10px;

        & .orglic-info {
          margin: 5px;
          width: 50%;
          @include ly-flex-sole(row, space-between, center);
        }

        & .confirm-licpack-row {
          @include ly-flex-sole(row, space-between, center);
          width: 50%;
        }
      }
    }

    & .confirm-subscribe-licapck {
      border: 2px solid $mid-gray5;
      border-radius: 0px 0px 10px 10px;
      overflow: hidden;
      @include ly-flex-sole(row, space-between, stretch);

      & .service-licprop-list {
        @include ly-flex-sole(column, flex-start, flex-start);
        flex: 1;
        padding: 10px;

        & .subscribe-licprop-item {
          @include ly-flex-sole(row, space-between, center);
          margin: 2px 0px;
          padding: 10px 2px;
          font-weight: bold;
          background-color: $mid-gray2;
          width: 100%;
          & .item-column {
            @include ly-flex-sole(row, flex-start, center);
            & .item-x {
              font-weight: normal;
              color: $mid-gray12;
            }

            & .item-qty {
              @include ly-flex-sole(row, center, center);
              padding: 5px;
              font-size: 1em;
              width: 80px;
            }
          }
        }
      }

      & .confirm-subscribe-price {
        flex: 1;
        background-color: $mid-gray3;
        @include ly-flex-sole(column, center, center);

        & .confirm-price {
          @include ly-flex-sole(row, center, center);
          font-weight: bold;

          & .subscribe-price {
            @include ly-flex-sole(row, center, baseline);
            font-size: 2em;
            font-weight: bold;
            color: $orange1;
          }

          & .subscribe-period {
            font-size: 1.5em;
            color: $black;
          }
        }

        & .confirm-button {
          padding: 10px;
        }
      }
    }
    & .payment-method-header {
      padding: 5px;
      font-size: 1em;
      font-weight: bold;
      border-bottom: 2px solid $mid-gray6;
      margin-top: 10px;
      background-color: $mid-gray3;
    }

    & .payment-method {
      padding: 20px;
      border: 1px solid $mid-gray6;
      @include ly-flex-sole(row, space-around, center);
    }
  }
}

.progressbar-container {
  @include ly-flex-sole;
  padding: 20px;
  height: 200px;
}

// .subscribe-uform {
//   background-color: $white;
//   width: 100%;
//   height: 100%;
//   padding: 10px;

//   & .subscribe-details {
//     // & .step-panel {
//     width: 100%;
//     height: 100%;

//     background-color: $mid-gray1;

//     // & .step-header {
//     //   margin: 0px 5%;
//     //   padding: 0px 10px 4px 10px;
//     //   font-size: 1.2em;
//     //   font-weight: bold;
//     //   border-bottom: 2px solid $mid-gray6;
//     //   @include ly-flex-sole(row, flex-start, center);

//     //   & .bp3-icon{
//     //     margin-right: 5px;
//     //   }
//     // }

//     & .subscribe-details-block {
//       margin: 0px 20px;
//       border: 1px solid $mid-gray3;

//       & .details-content {
//         // padding: 5px;
//         font-size: 0.9em;
//         width: 100%;

//         & .subscribe-fragment-header {
//           padding: 5px 10px;
//           font-weight: bold;
//           // color: $white;
//           font-size: 1.2em;
//           background-color: $depth-gray2;
//           @include ly-flex-sole(row, flex-start, center);
//         }

//         & .change-section-header {
//           // margin-top: 5px;
//           border-top: 1px solid $mid-gray5;
//           padding: 10px;
//           font-weight: bold;
//           font-size: 1em;
//           background-color: $mid-gray3;
//           @include ly-flex-sole(row, flex-start, center);
//         }

//         & .subscribe-data-block {
//           border: 1px solid $mid-gray3;
//           background-color: $mid-gray2;
//           padding: 0px 10px;
//           @include ly-flex-sole(row, space-between, flex-start);

//           & .data-block {
//             flex: 1;

//             & .data-block-header {
//               padding: 5px;
//               font-size: 1em;
//               font-weight: bold;
//               border-bottom: 2px solid $mid-gray6;
//               // margin-top: 5px;
//             }

//             & .field-row,
//             .span-row {
//               @include ly-flex-sole(row, flex-start, stretch);
//               border-bottom: 1px solid $mid-gray5;
//               background-color: $mid-gray2;
//               // min-height: 20px;

//               & .field-label,
//               .span-label {
//                 font-size: 1em;
//                 width: 40%;
//                 padding: 2px 10px;
//                 color: #0f2027;
//                 background-color: rgba($mid-gray3, 0.75);
//               }

//               & .field-label::after {
//                 content: " : ";
//               }

//               & .field-value {
//                 // @include ly-flex-sole(row, flex-start, center);
//                 width: 60%;
//                 padding: 5px 10px;

//                 & .orglic-info {
//                   margin: 5px;
//                   width: 50%;
//                   @include ly-flex-sole(row, space-between, center);
//                 }

//                 & .licpack-row {
//                   @include ly-flex-sole(row, space-between, center);
//                   width: 50%;
//                 }
//               }
//             }
//           }
//         }

//         & .primarypackage-select {
//           padding: 10px;
//           @include ly-flex-sole(row, space-around, flex-start);
//           align-items: stretch;

//           & .seletec-licpack {
//             border: 2px solid $vermilion5;
//           }

//           & .licpack-card {
//             padding: 0px;
//             width: 30%;
//             border-radius: 10px;
//             overflow: hidden;
//             @include ly-flex-sole(column, space-between, stretch);

//             & .licpack-name {
//               flex: 1;
//               padding: 10px;
//               height: 50px;
//               color: $blue1;
//               font-size: 1.2em;
//               font-weight: bold;
//               background-color: $orange5;
//             }

//             & .licpack-desc {
//               flex: 2;
//               padding: 10px;
//               background-color: $mid-gray2;
//               font-size: 0.9em;
//               height: 100px;
//               @include ly-flex-sole(row, flex-start, center);
//             }

//             & .licpackprops {
//               flex: 3;
//               padding: 4px;
//               & .licpackprop-row {
//                 background-color: $mid-gray1;
//                 border-top: 1px solid $mid-gray3;
//                 padding: 10px;
//                 @include ly-flex-sole(row, space-between, center);

//                 & .licpackprop-name {
//                   flex: 3;
//                   @include ly-flex-sole(row, flex-start, center);
//                   font-weight: bold;
//                   color: $blue1;
//                 }

//                 & .licpackprop-qty {
//                   flex: 1;
//                   @include ly-flex-sole(row, center, center);
//                   font-weight: bold;
//                   color: $blue1;
//                 }
//               }

//               & .licpackprop-row:nth-child(even) {
//                 background-color: $mid-gray2;
//               }
//             }

//             & .licpack-footer {
//               flex: 2;
//               border-top: 1px solid $mid-gray6;

//               & .primarypackage-period {
//                 padding: 10px;
//                 height: 60px;
//                 @include ly-flex-sole(row, center, center);

//                 & .primarypackage-price {
//                   @include ly-flex-sole(row, center, baseline);
//                   font-size: 2em;
//                   color: $orange1;
//                 }
//               }

//               & .primarypackage-select-indicate {
//                 padding: 10px;
//                 height: 50px;
//                 background-color: $mid-gray3;
//                 @include ly-flex-sole(row, center, center);
//               }
//             }
//           }
//         }

//         & .extrapack-select {
//           padding: 10px;
//           & .extrapack-group {
//             margin: 2px;
//             border: 1px solid $mid-gray5;

//             & .extrapack-details {
//               @include ly-flex-sole(row, space-between, stretch);

//               & .extrapack-group-name {
//                 padding: 5px;
//                 @include ly-flex-sole(row, flex-start, center);
//                 flex: 2;
//                 font-weight: bold;
//                 background-color: $mid-gray3;
//               }

//               & .extrapack-licprops {
//                 flex: 2;
//                 padding: 5px;
//                 & .extrapack-licprops-row {
//                   @include ly-flex-sole(row, flex-start, center);
//                   margin: 4px 0px;
//                 }
//               }

//               & .extrapack-period-price {
//                 flex: 1;
//                 border-left: 1px solid $mid-gray4;
//                 @include ly-flex-sole(row, center, center);
//                 & .period-price-label {
//                   @include ly-flex-sole(row, space-around, center);
//                   width: 90%;
//                   padding: 10px;
//                   background-color: $mid-gray2;
//                   border-radius: 6px;
//                 }
//               }

//               & .extrapack-select-option {
//                 flex: 1;
//                 border-left: 1px solid $mid-gray4;
//                 padding: 10px;
//                 @include ly-flex-sole(row, space-around, center);

//                 & .extrapack-qty {
//                   flex: 1;
//                 }

//                 & .extrapack-price {
//                   @include ly-flex-sole(row, center, baseline);
//                   flex: 1;
//                   font-size: 1.5em;
//                   color: $orange1;
//                 }
//               }
//             }
//           }
//         }

//         & .subscribe-licapck-summary {
//           margin: 2px;
//           // border: 2px solid $sepia5;
//           // border-radius: 10px;
//           overflow: hidden;
//           @include ly-flex-sole(row, space-between, stretch);

//           & .service-licprop-list {
//             @include ly-flex-many(row, flex-start, flex-start);
//             flex: 1;
//             padding: 10;

//             & .subscribe-licprop-item {
//               @include ly-flex-sole(row, flex-start, center);
//               margin: 10px;
//               padding: 8px;
//               font-weight: bold;
//               background-color: $mid-gray2;
//               border-radius: 10px;
//               border: 1px solid $mid-gray4;

//               & .item-x {
//                 margin: 0px 10px;
//                 color: $mid-gray12;
//               }

//               & .item-qty {
//                 padding: 5px;
//                 border-radius: 10px;
//                 font-size: 1.2em;
//                 background-color: $mid-gray1;
//               }
//             }
//           }

//           & .subscribe-price-summary {
//             flex: 1;
//             background-color: $mid-gray3;
//             @include ly-flex-sole(column, center, center);

//             & .subscribe-period {
//               font-size: 1.5em;
//               font-weight: bold;
//               color: $black;
//               margin-bottom: 10px;
//             }
//             & .subscribe-price {
//               @include ly-flex-sole(row, center, baseline);
//               font-size: 2em;
//               font-weight: bold;
//               color: $orange1;
//             }

//             & .subscribe-update-frist-price {
//               @include ly-flex-sole(column, center, center);
//               font-size: 1em;
//               font-weight: bold;
//               color: $red2;
//               & div {
//                 @include ly-flex-sole(row, center, baseline);
//               }
//             }
//           }
//         }

//         & .renew-payment {
//           padding: 2px;
//           @include ly-flex-sole(row, space-between, stretch);
//           & div {
//             padding: 10px;
//             flex: 1;
//             @include ly-flex-sole(row, space-between, center);
//           }

//           & .renewpay-button {
//             background-color: $mid-gray2;
//             @include ly-flex-sole(row, center, center);
//           }
//         }

//         & .subscribe-licapck {
//           border: 2px solid $mid-gray5;
//           margin-bottom: 10px;
//           @include ly-flex-many(row, flex-start, flex-start);

//           & .subscribe-licprop-item {
//             background-color: $mid-gray2;
//             @include ly-flex-sole(row, flex-start, center);
//             padding: 5px;
//             margin: 4px;

//             & .item-qty {
//               // @include ly-flex-sole(row, center, center);
//               padding: 0px 5px;
//             }
//           }
//         }
//       }

//       // & .step-flow-buttons {
//       //   @include ly-flex-sole(row, space-around, center);
//       //   padding: 5px;
//       //   background-color: $mid-gray3;
//       // }
//     }
//     // }

//     & .justifyContent {
//       @include ly-flex-sole(row, center, center);
//     }
//   }
// }

.step-panel {
  width: 100%;
  height: 100%;
  padding: 10px;
  background-color: $mid-gray1;

  & .step-header {
    margin: 0px 5%;
    padding: 0px 10px 4px 10px;
    font-size: 1.2em;
    font-weight: bold;
    border-bottom: 2px solid $mid-gray6;
    @include ly-flex-sole(row, flex-start, center);

    & .bp3-icon {
      margin-right: 5px;
    }
  }

  & .step-form {
    margin: 0px 5%;
    border: 1px solid $mid-gray3;

    & .step-form-content {
      padding: 0px;
      font-size: 1em;
      width: 100%;

      & .subscribe-desc {
        padding: 20px;
      }

      & .subscribe-fragment-header {
        padding: 10px;
        font-weight: bold;
        color: $white;
        font-size: 1.2em;
        background-color: $depth-gray6;
        @include ly-flex-sole(row, center, center);
      }

      & .primarypackage-select {
        padding: 10px;
        @include ly-flex-sole(row, space-around, flex-start);
        align-items: stretch;

        & .seletec-licpack {
          border: 2px solid $vermilion5;
        }

        & .licpack-card {
          padding: 0px;
          width: 30%;
          border-radius: 10px;
          overflow: hidden;
          @include ly-flex-sole(column, space-between, stretch);

          & .licpack-name {
            flex: 1;
            padding: 10px;
            height: 50px;
            color: $blue1;
            font-size: 1.2em;
            font-weight: bold;
            background-color: $orange5;
          }

          & .licpack-desc {
            flex: 2;
            padding: 10px;
            background-color: $mid-gray2;
            font-size: 0.9em;
            height: 100px;
            @include ly-flex-sole(row, flex-start, center);
          }

          & .licpackprops {
            flex: 3;
            // padding: 4px;
            & .licpackprop-row {
              background-color: $mid-gray1;
              border-top: 1px solid $mid-gray3;
              padding: 10px;
              @include ly-flex-sole(row, space-between, center);

              & .licpackprop-name {
                flex: 3;
                @include ly-flex-sole(row, flex-start, center);
                font-weight: bold;
                color: $blue1;
              }

              & .licpackprop-qty {
                flex: 1;
                @include ly-flex-sole(row, center, center);
                font-weight: bold;
                color: $blue1;
              }
            }

            & .licpackprop-row:nth-child(even) {
              background-color: $mid-gray2;
            }
          }

          & .licpack-footer {
            flex: 2;
            border-top: 1px solid $mid-gray6;

            & .primarypackage-period {
              padding: 10px;
              height: 60px;
              @include ly-flex-sole(row, space-between, center);

              & .bp3-html-select select {
                background-color: $mid-gray3;
              }

              & .primarypackage-price {
                @include ly-flex-sole(row, center, baseline);
                font-size: 1.8em;
                color: $orange1;
              }
            }

            & .primarypackage-select-indicate {
              padding: 10px;
              height: 50px;
              background-color: $mid-gray3;
              @include ly-flex-sole(row, center, center);
            }
          }
        }
      }

      & .extrapack-select {
        // padding: 10px;
        & .extrapack-row {
          margin: 2px;
          border: 1px solid $mid-gray5;

          & .extrapack-details {
            @include ly-flex-sole(row, space-between, stretch);

            & .extrapack-group-name {
              padding: 5px;
              @include ly-flex-sole(row, flex-start, center);
              flex: 2;
              font-weight: bold;
              background-color: $mid-gray3;
            }

            & .extrapack-licprops {
              flex: 2;
              padding: 5px;
              & .extrapack-licprops-row {
                @include ly-flex-sole(row, flex-start, center);
                margin: 4px 0px;
              }
            }

            & .extrapack-period-price {
              flex: 1;
              border-left: 1px solid $mid-gray4;
              @include ly-flex-sole(row, center, center);
              & .period-price-label {
                @include ly-flex-sole(row, space-around, center);
                width: 90%;
                padding: 10px;
                background-color: $mid-gray2;
                border-radius: 6px;
              }
            }

            & .extrapack-select-option {
              flex: 1;
              border-left: 1px solid $mid-gray4;
              padding: 10px;
              @include ly-flex-sole(row, space-around, center);

              & .extrapack-qty {
                flex: 1;
              }

              & .extrapack-price {
                @include ly-flex-sole(row, center, center);
                flex: 1;
                font-size: 1.5em;
                color: $orange1;
              }
            }
          }
        }
      }

      & .subscribe-licapck-summary {
        margin: 10px;
        border: 2px solid $sepia5;
        border-radius: 10px;
        overflow: hidden;
        @include ly-flex-sole(row, space-between, stretch);

        & .service-licprop-list {
          @include ly-flex-many(row, flex-start, flex-start);
          flex: 3;
          padding: 10;

          & .subscribe-licprop-item {
            @include ly-flex-sole(row, flex-start, center);
            margin: 10px;
            padding: 8px;
            font-weight: bold;
            background-color: $mid-gray2;
            border-radius: 10px;
            border: 1px solid $mid-gray4;

            & .item-x {
              margin: 0px 10px;
              color: $mid-gray12;
            }

            & .item-qty {
              padding: 5px;
              border-radius: 10px;
              font-size: 1.2em;
              background-color: $mid-gray1;
            }
          }
        }

        & .subscribe-price-summary {
          flex: 1;
          background-color: $mid-gray3;
          @include ly-flex-sole(column, center, center);

          & .subscribe-period {
            font-size: 1.5em;
            font-weight: bold;
            color: $black;
          }
          & .subscribe-price {
            @include ly-flex-sole(row, center, baseline);
            font-size: 2em;
            font-weight: bold;
            color: $orange1;
          }
        }
      }
    }

    & .step-flow-buttons {
      @include ly-flex-sole(row, space-around, center);
      padding: 5px;
      background-color: $mid-gray3;
    }
  }
}

.org-reg-from {
  border: 1px solid $mid-gray3;
  background-color: $mid-gray2;
  padding: 10px;

  & .field-row,
  .span-row {
    @include ly-flex-sole(row, flex-start, stretch);
    border-bottom: 1px solid $mid-gray5;
    background-color: $mid-gray3;
    min-height: 20px;

    & .field-label,
    .span-label {
      font-size: 1em;
      width: 25%;
      padding: 10px;
      color: #0f2027;
      background-color: rgba($mid-gray4, 0.75);
    }

    & .field-label::after {
      content: " : ";
    }

    & .field-value {
      @include ly-flex-sole(row, flex-start, center);
      width: 75%;
      padding: 10px;

      & .bp3-input {
        width: 200px;
        background-color: rgba(255, 255, 255, 0.3);
        color: rgb(33, 45, 68);
      }

      & .bp3-text-small {
        color: $depth-gray12;
      }
    }
  }
}
