{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href='{% static "icast.ico" %}'>
  <!-- <link rel="stylesheet" href='{% static "css/fontawesome-all.css" %}'>
  <link rel="stylesheet" href='{% static "css/fontawesome-v4-shims.css" %}'> -->
  <title>iCast - Cloud Signage Sysetm</title>
  <style type="text/css">
    .construction-theme{
    margin: 0px;
    width: 100vw;
    height: 100vh;
    background-color: #091928;
    background-image: url('/static/images/construction-coming-soon-background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    }
    </style>
</head>

<body>
  <div id="app" >
    <!-- React -->
  </div>
</body>

<script src='{% static "main.js" %}'></script>
</html>